#nav-bar {
    height: 80px; 
    width: 100%; 
    background-color: #00a087; 
    padding: 0em 2em; 
    position: fixed; 
    z-index: 100; 
}

#nav-bar .logo {
    margin-bottom: -4px;
    margin-right: 10px; 
    height: 80px; 
    width: 80px;
    float: left; 
}

#nav-bar .header {
    color: #e8fdff;
    font-size: 200%; 
    padding: 2.5% 0%; 
    float: left;
}
